body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow-x: hidden;

    font-family: 'Open Sans', sans-serif;
    background: #fff;
    font-weight: 300;
    line-height: 2;
    letter-spacing: .5px;
    font-size: calc(17px + .1vw);
}
p{
}
b{
    font-weight: 600;
}
