* {
    margin: 0;
}

iframe {
    width: 100%;
}
body{
    overflow: hidden;
}
.head {
    width: 100%;
    Height: 145px;
    position: relative;
    background-color: #12a884;
}

.logo {
    position: absolute;
    top: -9px;
    left: 45px;
    color: white;
    font-family: Comfortaa, sans-serif;
    font-weight: 400;
    font-size: 72px;
    text-decoration: none;
    cursor: pointer;
}



.information {
    /* width: 20%; */
    font-size: 0.8em;
    white-space: nowrap;
    position: absolute;
    right: 0px;
    top: 27px;
    color: white;
    text-align: left;
}

.service {
    font-family: Comfortaa, sans-serif;
    font-weight: 700;
    font-size: 1.0em;
    letter-spacing: 0.2em;
    margin: 0 0 30px 0;
}

.welcome {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 5px 0;
}

.nav {}

.nav span {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: inherit;
}