body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: .5px;
    font-size: calc(17px + .1vw);
}

b{
    font-weight: 600;
}
pre {
    display: inline;
    margin: 0;
    /* padding: 0; */
    /* line-height: 11px; */
}