.test{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: red;
    transition:transform 0.5s;
    left:0;
    top:0px;
}
.testContainer{
    position: absolute;
    left: 200px;
    top:200px;
}