* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h3{
    font-size:1.2em;
    font-family: 'Roboto Condensed';
}
h1{
    font-size: 1.5em;
    font-family: 'Slackey';
}
p{
    font-size:1em;
    font-family: 'Cairo', sans-serif;
    line-height: 22px;
}

a,u{
    color:#90138c;
    font-family:  'Press Start 2P', cursive;
    font-size: 0.7em;
    text-decoration: underline solid;
}

body
{
    overflow: hidden;
}

iframe{
    width: 100%;
    height: 100%;
    overflow: hidden;
}