<div class="headBar_logo">
   
    <?xml version="1.0" standalone="no"?>
    <!-- Generator: Gravit.io --><svg class="logo_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        style="isolation:isolate" viewBox="0 0 370 95" >
        <defs>
                <style type="text/css">
                    @font-face {
                        font-family: "Julius Sans One";
                        src: url("/assets/fonts/JuliusSansOne-Regular.ttf");
                    }
                    <!-- @import url('https://fonts.googleapis.com/css?family=Julius+Sans+One'); -->
    
                    text {
                        font-size: 290.4976px;
                        font-family: Julius Sans One, sans-serif;
                    }
                </style>
            <clipPath id="_clipPath_Mm0hLh9P86oFsfF3tIBkYGyeh5bFeUPZ">
                <rect width="370" height="95" />
            </clipPath>
        </defs>
        <g clip-path="url(#_clipPath_Mm0hLh9P86oFsfF3tIBkYGyeh5bFeUPZ)">
            <g>
                <path d=" M 19.591 45.438 C 19.524 45.327 19.468 45.226 19.413 45.125 Q 12.673 32.94 13.751 14.391 Q 33.162 11.749 47.72 22.479 C 47.75 22.501 47.779 22.523 47.808 22.546 L 47.808 22.546 L 47.808 22.546 Q 62.316 33.253 74.411 47.552 L 40.441 76.669 Q 26.329 57.551 19.591 45.438 L 19.591 45.438 Z "
                    fill="rgb(244,106,106)" />
                <path d=" M 30.836 67.819 L 47.012 88.848 Q 39.072 89.102 32.454 83.186 C 25.673 77.126 26.204 71.473 30.836 67.819 Z "
                    fill="rgb(244,106,106)" />
                <path d=" M 48.397 55.17 C 44.843 58.426 47.438 64.504 52.441 70.538 Q 57.739 76.927 70.234 78.626 Q 71.195 68.535 64.573 60.023 C 59.143 53.044 52.657 51.982 48.397 55.17 Z "
                    fill="rgb(244,106,106)" />
                <path d=" M 68.76 39.517 L 85.745 53.266 Q 90.955 44.799 84.127 39.517 C 79.783 36.156 73.035 36.164 68.76 39.517 Z "
                    fill="rgb(244,106,106)" />
                <path d=" M 35.654 39.386 L 32.773 58.531 L 52.091 56.041 L 46.249 50.122 L 38.185 53.191 L 41.087 44.892 L 35.654 39.386 Z "
                    fill="rgb(255,255,255)" />
                <path d=" M 37.65 35.755 L 56.831 33.127 L 54.086 52.41 L 48.245 46.491 L 51.42 38.468 L 43.083 41.261 L 37.65 35.755 Z "
                    fill="rgb(255,255,255)" />
            </g>
            <g transform="matrix(1,0,0,1,92,6.081)"><text transform="matrix(1,0,0,1,0,64.949)" style="font-family:Julius Sans One;font-weight:400;font-size:50px;font-style:normal;fill:#D9D9D9;stroke:none;">relaxslow</text></g>
        </g>
    </svg>
</div>
<div class="headBar_Menu">
    <button class="headBar_Menu_button">about</button>
    <button class="headBar_Menu_button active">lab</button>
</div>