@font-face {
    font-family: "OpenSans Light";
    src: url("/assets/fonts/OpenSans-Light.ttf");
}
.headBar {
    display: block;
    width: 100%;
    height: 87px;
    background-color: #112537;
    position: fixed;
    top: 0px;
}


.headBar_Menu {
    height: 32px;
    background: #dfdfdf;
    display: flex;
    justify-content: flex-end;
    padding: 0 92px;
}

.logo_svg {
    width: 261px;
    height: 70px;
    /* top: 10px; */
}
.headBar_Menu_button{
    outline: none;
    border-style: none;
    transition: all 0.3s;
    width: 100px;
    /* padding: 5px; */
    font-family: "OpenSans Light", serif;
    font-size: 0.90em;
}

.active, .headBar_Menu_button:hover{
    background-color: white;
}
.headBar_logo{

}
