<div class="about">
    <h1>about</h1>
    <p>this website is mainly about   <b>javascript,html,css</b> and <b>svg</b>  and <b>webgl</b> ,I try to discover a way that only use this five technology to present a rich interactive website. They are the native of modern website technology. I don't want use any of the libs whose functions are always overlap with those native technologies.  </p>
    <p> I seperate the progress into labs for easy search and read. </p>
    <p>this website is mainly about javascript,html,css and svg and webgl,I try to discover a way that only use this
        five technology to present a rich interactive website. That is the native of modern website. I seperate the
        progress into labs for easy search and read. </p>
    <p>this website is mainly about javascript,html,css and svg and webgl,I try to discover a way that only use this
        five technology to present a rich interactive website. That is the native of modern website. I seperate the
        progress into labs for easy search and read. </p>
    <p>this website is mainly about javascript,html,css and svg and webgl,I try to discover a way that only use this
        five technology to present a rich interactive website. That is the native of modern website. I seperate the
        progress into labs for easy search and read. </p>
    <p>this website is mainly about javascript,html,css and svg and webgl,I try to discover a way that only use this
        five technology to present a rich interactive website. That is the native of modern website. I seperate the
        progress into labs for easy search and read. </p>
    <p>this website is mainly about javascript,html,css and svg and webgl,I try to discover a way that only use this
        five technology to present a rich interactive website. That is the native of modern website. I seperate the
        progress into labs for easy search and read. </p>
</div>