<div class="about">
    <h1>about</h1>
    <p>this website is mainly about <b>javascript, html, css</b> and <b>svg</b>  and <b>webgl</b> ,I try to discover a way that only use this five technology to present a rich interactive website. Those are website natives . I don't want use any of the libs whose functions are always overlap with those natives technologies. My plan is collect all the useful technology on the network, classify them and store in this website. I seperate the technologies into labs for easy search and read.   </p>

    <p>My direction is UI/UX, information visualization, and game</p>
    
</div>