body {
    color: #ffffff;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    background-color: #ffffff;
    margin: 0px;
    overflow: hidden;
}


#container {
    width: 400px;
    height: 400px;
    background-color: white;
    border: solid 1px black;
    position: relative;
}

.text{
    position: absolute;
    width: 100px;
    height: 70px;
    color: black;
    text-align: left;
}