<div class="lab">
    <div class="sideMenuBox">
        <button class="button sideMenu">basic</button>
        <div class="subMenuBox">
            <button class="button subMenu">empty page1</button>
            <button class="button subMenu">empty page2</button>
        </div>
        <button class="button sideMenu">svg</button>
        <div class="subMenuBox">
            <button class="button subMenu">animate Gradient</button>
        </div>
        <button class="button sideMenu">webgl</button>
        <div class="subMenuBox">
            <button class="button subMenu">pickObj</button>
        </div>
    </div>

    <div class="content"></div>
</div>