.lab{
    display: grid;
    grid-template-columns: 15vw 5vw 70vw 5vw;
    width: 100%;
    margin: 50px 0;
}

.content {
    grid-column-start: 3;
    grid-column-end: 4;
    position: relative;
    width: 100%;
    background-color: #ffffff;
}



