* {
    box-sizing: border-box;
    font-size: 12px;
    margin: 0;
    /* line-height: 22px; */
}

ul {
    list-style-type: none;
}

body {
    font-family: Verdana, sans-serif;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    /* background-color: #ddd; */
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #5d5d5d;
    text-align: center;
    font-weight: 600;
    vertical-align: middle;
    line-height: 30px;
    font-size: 1.2em;
}

.days .avaliable {
    font-weight: 600;
    font-size: 1em;
    color: black;
}

.days {
    padding: 10px 0;
    /* background: #eee; */
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    vertical-align: middle;
    line-height: 30px;
    position: relative;
    font-size: 1em;
    color: #636363;
    cursor: pointer;
    z-index: 1;
}

/* Add media queries for smaller screens */

@media screen and (max-width:720px) {
    .weekdays li,
    .days li {
        width: 13.1%;
        height: 30px;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li,
    .days li {
        width: 12.5%;
    }
    .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {
    .weekdays li,
    .days li {
        width: 12.2%;
    }
}

.content {
    padding: 30px 3%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
}

.info {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    text-align: left;
    line-height: 50px;
    padding: 0 20px;
}

.removal-option {}

.removal-option .title {
    font-size: 1.1em;
    margin: 10px 0;
}

.removal-option p {
    vertical-align: middle;
    margin: 0 0 5px 0;
}

[type="radio"] {
    vertical-align: middle;
    line-height: 30px;
    /* margin: 0 0 100px 0; */
}

.appointment-type-name {
    font-weight: 600;
}

.calendar {
    max-width: 600px;
    text-align: center;
}

.selectMonthAndYear {
    display: flex;
    justify-content: center;
}

.pullDown {
    position: relative;
    width: 80%;
    height: 30px;
}

.current {
    font-size: 1.4em;
    font-weight: 600;
    width: 100%;
    height: 100%;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #b7b7b7;
    border-radius: 5px;
    transition: border-color 0.5s;
    /* display: flex; */
    position: relative;
}

.current .arrows {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: calc(100% - 15px);
    top: 5px;
}

.current .arrows .up {
    width: 7px;
    height: 7px;
}

.current .arrows .down {
    width: 7px;
    height: 7px;
    margin: 3px 0;
}

.current:hover {
    border-color: black;
}

button:focus {
    outline: 0;
}

.options {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1000;
}

.optionItem {
    line-height: 30px;
    background-color: white;
    border: none;
    font-size: 1.2em;
}

.optionItem:hover {
    background-color: #12a884;
    color: white;
}

.next,
.prev {
    height: 30px;
    background-color: white;
    border: none;
    font-size: 1.4em;
    overflow: hidden;
}

.next p,
.prev p {
    transform: scaleY(3);
    margin: 0;
    color: #6c6c6c;
}

.dayHighlight {
    pointer-events: none;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: calc(-10% /2);
    background-color: #12a884;
    color: white;
    border-radius: 5px;
    width: 110%;
    z-index: 1000;
    cursor: pointer;
}

.timeActiveNum {
    color: white;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 30px;
}

.timePullDown {
    width: 150px;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: #585858;
    border-radius: 5px;
    background-color: white;
    padding: 10px 0;
    /* max-height: 100px; */
    /* overflow-y: scroll; */
    /* opacity: 1; */
    z-index: 2000;
    left: 47px;
    top: 327px;
}

.timePullDown .option {
    line-height: 14px;
    border: none;
    background-color: white;
    padding: 5px 10px;
    font-size: 1.2em;
    border-radius: 20px;
    position: relative;
}

.timeHighLight {
    text-align: center;
    vertical-align: middle;
    pointer-events: none;
    border-radius: 20px;
    background-color: #12a884;
    color: white;
    position: absolute;
    top:0;
    left:0;
    width: 125px;
    height: 24px;
    z-index: 5000;
    cursor: pointer;
    line-height: 24px;
    font-size: 1.2em;
}

.timePullRight {
    display: flex;
    flex-direction: column;
    width: 150px;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: #585858;
    padding: 10px 0;
    z-index: 1500;
    background-color: white;
    left: 0px;
    transition: left 0.3s;
    top: 318px;
}

.timePullRight .detail {
    position: relative;
    line-height: 30px;
    border: none;
    padding: 0 20px;
    background-color: white;
    font-size: 1.2em;
}

.timePullRight .select {
    background-color: #12a884;
    color: white;
}