body {
    color: #ffffff;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    background-color: #ffffff;
    margin: 0px;
    overflow: hidden;
}

#container {
    width: 500px;
    height: 500px;
}

#svgContainer {
    width: 200px;
    height: 200px;
    border: solid 1px black;
}