.main {
    display: block;
    width: 100%;
    position: absolute;
    top: 110px;
}


.mainBody {
    display: flex;
    min-height: calc(100vh - 219px);
    margin: 8px;
    /* border: black; */
    /* border-style: solid; */
}