body{
    background-color: #4e4e4e;
    font-family:monospace;
    /* vertical-align: middle; */
    /* line-height: 70px; */
}
.logo{
    width: 202px;
    /* height: 50px; */
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 10px;
}
.logo svg text{
    font-family: 'Slackey';
    font-size:61px;
}
.menu{
    display: flex;
    position: absolute;
    top: 40px;
    right: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
.menuItem{
    width: 100px;
    height: 30px;
    background-color: rgb(78, 78, 78);
    color: rgb(223, 223, 223);
    margin-left: 10px;
    cursor: pointer;
}

.select{
    background-color: rgb(255, 255, 255);
    color: black; 
}
.underConstruction{
    width: 141px;
    height: 50px;
    position: absolute;
    left: 218px;
    top: 18px;
}
.underConstruction svg{
    
}