

.content {
    display: flex;
    margin: 20px 5%;
    position: relative;
}



.personPic {
    flex-shrink: 0;
    border-style: solid;
    border-color: beige;
    background-image: url(/assets/img/baby.jpg);
    background-clip: padding-box;
    background-size: 142px, 10px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
}

.personPic img {
    border: 1px solid rgb(207, 46, 46);
    height: 140px;
    width: 140px;
    clip: rect(0px, 128px, 60px, 0px);
}

.descreptionText ,.contact{
    float: left;
    margin: 10px 10px;
    width: 100%;
}
