<div class="personalDescription">
 
    <div class="personPic"> </div>

    <div class="descreptionText">
        <h3>relaxslow </h3>
        <p>Enthusiast of web technology with strong interest and experience in game development, website and graphic design. Versatile
            developer with the ability to promote ideas from sketch to production. Lifelong learner always aiming to adopt new
            technologies but try to keep low level. </p>
    </div>
    <div class="contact">
        <p>email : relaxslow@hotmail.com</p>
        <p>phone : 1-703-814-2446</p>
    </div>

</div>