.footBar {
    display: flex;
    background-color: #dfdfdf;
    width: 100%;
    /* max-width: 140px; */
    height: auto;
}

.personalDescription {
    display: flex;
    /* width: 20%; */
    margin: 50px 10%;
    /* text-align: center; */
    position: relative;
    /* float: left; */
}



.personPic {
    flex-shrink: 0;
    border-style: solid;
    border-color: beige;
    background-image: url(/assets/img/baby.jpg);
    background-clip: padding-box;
    background-size: 142px, 10px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 140px;
    height: 140px;
    /* position: absolute; */
    /* float: left; */
}

.personPic img {
    border: 1px solid rgb(207, 46, 46);
    /* background-image: url("/assets/img/baby.jpg"); */
    height: 140px;
    width: 140px;
    clip: rect(0px, 128px, 60px, 0px);
    /* position: absolute; */
}

.descreptionText {
    float: left;
    margin: 0px 50px;
    width: 60%;
}