<div class="personalDescription">
 
    <div class="personPic"> </div>

    <div class="descreptionText">
        <p>Most of the jobs that are projected to be created are in low-wage or high-wage industries, according to the
            CareerBuilder study, which is based on historical and current labor market trends. One-fourth of new jobs
            will be in middle-wage jobs, and the study found that 369,879 jobs will be lost over the same time period,
            with the majority in mid-pay fields. </p>
    </div>

</div>